@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #2e2e2e;
    color: white;
}

#container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#menu {
    width: 80%;
    margin: auto;
}

#menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    margin: auto;
    justify-content: space-between;
}

#menu li {
    width: 22%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
}

#menu li:hover {
    cursor: pointer;
    background-color: rgba(216, 90, 0, 0.925);
}

.widget {
    background-color: chocolate;
    border: 1px;
    color: white;
    width: 60%;
    height: 70vh;
    margin: auto;
    margin-top: 4%;
    padding: 2%;
}

#project-description {}