.container {
    width: 30vw;
    height: 40vh;
    margin-top: 18vh;
}

input.form-control#product-code {
    width: 200px;
}

.sth {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1em;
}

.warning {
    color: rgb(255, 15, 15);
}

.title {
    text-align: center;
}