.container {
    min-height: 85vh;
    padding: 1em;
    margin-bottom: 0;
    background-color: #ffffff00;
    box-shadow: none;
}

.container:nth-child(1) {}

.home-page-title {
    text-align: center;
    border: 2px solid red;
}

.home-page-title span {
    font-size: 2em;
}

.container .col {
    border: 2px greenyellow;
}

.widget {
    width: 100px;
    background-color: var(--lighter-orange);
    color: white;
    height: 37vh;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.027), 0 6.7px 5.3px rgba(0, 0, 0, 0.027), 0 12.5px 10px rgba(0, 0, 0, 0.021), 0 22.3px 17.9px rgba(0, 0, 0, 0.027), 0 41.8px 33.4px rgba(0, 0, 0, 0.027), 0 100px 80px rgba(0, 0, 0, 0.048);
}

.widget-title {
    background-color: var(--metalic);
    padding: 0.1em;
}

.widget span {
    font-size: 1.1em;
    width: 85%;
    text-align: justify;
}

.app-purpose {
    position: relative;
    bottom: 1em;
    right: 2em;
    z-index: 2;
}

.app-description {
    position: relative;
    top: 3.3em;
    right: 5.5em;
    z-index: 5;
    text-align: justify;
}

.app-description .widget-title {
    text-align: right;
}

.approaches {
    position: relative;
    top: 0.5em;
    left: 1em;
    z-index: 4;
}

.approaches .widget-title {
    text-align: right;
}

.approaches-text {
    text-align: justify;
    margin-left: 3em;
}

.used-libraries {
    position: relative;
    left: 4em;
    bottom: 3em;
    z-index: 1;
}

.used-libraries .col-3 {
    font-weight: bold;
}