:root {
    --tile-1: #ffb87e;
    --tile-1-lighter: #c28f54d3;
    --tile-1-lightest: #bba98b80;
    --table-header: #2a74ffa4;
}

.opinions-stats {
    margin: auto;
    padding: 0.25em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    background-color: var(--metalic);
}

.opinions-stats h5 {
    text-align: center;
}

.table-wrapper {
    background-color: white;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

table {
    margin: auto;
    border-spacing: 2px;
    border-collapse: separate;
    height: 100%;
    color: black;
}

tbody {
    overflow-y: scroll;
    height: 41vh;
}

th {
    background-color: rgba(243, 232, 217, 0.644);
}

thead input {
    color: black;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}

td,
th {
    height: 5vh;
    padding: 0.3em;
}

th {
    overflow: hidden;
}

td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: "-";
    text-align: center;
    font-weight: bold;
}

table.dataTable td:nth-child(10) {
    max-width: 20vw;
    overflow-x: scroll;
}

table.dataTable td:nth-child(11) {
    max-width: 20vw;
    overflow-x: scroll;
}

table.dataTable td:nth-child(12) {
    max-width: 20vw;
    overflow-x: scroll;
}

table.dataTable td:nth-child(10)::-webkit-scrollbar {
    display: none;
}

table.dataTable td:nth-child(11)::-webkit-scrollbar {
    display: none;
}

table.dataTable td:nth-child(12)::-webkit-scrollbar {
    display: none;
}

tr:nth-child(odd) {
    background-color: var(--tile-1-lighter);
}

tr:nth-child(even) {
    background-color: var(--tile-1-lightest);
}