:root {
    --tile-1: #ffb87e;
    --tile-1-lighter: #c28f54d3;
    --tile-1-lightest: #bba98b80;
}

.basic-stats div {
    position: relative;
}

.basic-stats h5 {
    position: absolute;
    bottom: 0;
}

table {
    text-align: center;
    height: 20vh;
    width: 80vw;
    table-layout: fixed;
    color: white;
    border-spacing: 2px;
    border-collapse: separate;
}

tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    height: 70vh;
}

td {
    padding: 4px;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th,
td {
    height: 6vh;
    min-width: 5.2vw;
    font-weight: bold;
}

th {
    padding: 2vh;
}

tr:nth-child(odd) {
    background-color: var(--tile-1-lighter);
}

tr:nth-child(even) {
    background-color: var(--tile-1-lightest);
}

tr td:nth-child(5) {
    width: 5%;
}

tr td:nth-child(6) {
    width: 4%;
}

tr td:nth-child(7) {
    width: 7%;
}

tr td:nth-child(8) {
    width: 7%;
}

tr td:nth-child(9) {
    width: 7%;
}

::-webkit-scrollbar {
    width: 20px;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background: var(--tile-1);
    height: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--tile-1);
}