<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scrapper</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% block head %}{% endblock %}

</head>
<script type=text/javascript src="{{
    url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

<body>
    <nav class='row'>
        <ul class="col h-25">
            <div class="title col-md-3 ">
                <h4><b>Web Scrapper</b></h4>
            </div>
            <li id="home-page" class="col">
                <a href="/">
                    <h4>Strona główna</h4>
                </a>
            </li>
            <li id="opinion-extraction" class="col">
                <a href="/extraction">
                    <h4>Ekstrakcja opinii</h4>
                </a>
            </li>
            <li id="products-list" class="col">
                <h4>Lista produktów</h4>
            </li>
            <li id="author-info" class="col">
                <h4>O autorze</h4>
            </li>
        </ul>
    </nav>
    {% block body %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>

</html>