{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}"> {% endblock %} {% block body %}
<div class="container">
    <div class="row md-1">
        <div id="product_name" class="title col-md-9">
            <h2>{{product.name}}</h2>
        </div>
        <div class="col">
            <div class="btn-group d-flex " role="group">
                <a role="button" class="btn btn-success btn-block" href="/product/{{product.code}}/statistics" type="button" aria-haspopup="true" aria-expanded="false">Statystyki</a>
                <button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pobierz</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/product/{{product.code}}/download-opinions/csv">CSV</a>
                    <a class="dropdown-item" href="/product/{{product.code}}/download-opinions/json">JSON</a>
                    <a class="dropdown-item" href="/product/{{product.code}}/download-opinions/xlsx">XLSX</a>
                    <a class="dropdown-item" href="/product/{{product.code}}/download-opinions/xml">XML</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="opinions-stats row d-flex flex-row">
                <div class="col">
                    <h5>Liczba opinii: {{product.opinions_count}}</h5>
                </div>
                <div class="col">
                    <h5>Średnia ocena: {{product.average_score}}</h5>
                </div>
                <div class="col">
                    <h5>Liczba zalet: {{product.positives_count}}</h5>
                </div>
                <div class="col">
                    <h5>Liczba wad: {{product.negatives_count}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col table-wrapper">
            <table id="product-opinions-table">
                <thead>
                    <tr>
                        <th>Id opinii</th>
                        <th>Autor</th>
                        <th>Rekomendacja</th>
                        <th>Ocena</th>
                        <th>Potwierdzone zakupem</th>
                        <th>Data wystawienia</th>
                        <th>Data zakupu</th>
                        <th>Opinia przydatna</th>
                        <th>Opinia nieprzydatna</th>
                        <th>Treść opinii</th>
                        <th>Zalety</th>
                        <th>Wady</th>
                    </tr>
                </thead>
                <tbody>
                    {% for opinion in product.opinions %}
                    <tr>
                        <td>{{opinion['id']}}</td>
                        <td>{{opinion['author']}}</td>
                        <td>{{opinion['recommendation']}}</td>
                        <td>{{opinion['score']}}</td>
                        <td>{{opinion['is_confirmed']}}</td>
                        <td>{{opinion['issue_date']}}</td>
                        <td>{{opinion['purchase_date']}}</td>
                        <td>{{opinion['votes_yes']}}</td>
                        <td>{{opinion['votes_no']}}</td>
                        <td>{{opinion['contents']}}</td>
                        <td>{{opinion['positives']}}</td>
                        <td>{{opinion['negatives']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#product-opinions-table').DataTable({
            "scrollX": true
        });
    });
</script>
{% endblock %}