{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/statistics.css') }}">
<script type=text/javascript src="{{url_for('static', filename='js/chart.js') }}"></script>
<meta id="product_code" data="{{ product_code }}"> {% endblock %} {% block body %}
<div class="container">
    <div class="row h-100">
        <div class="col score-chart-container chart-container">
            <canvas id="score-chart"></canvas>
        </div>
        <div class="col recommendation-chart-container chart-container">
            <canvas id="recommendation-chart"></canvas>
        </div>
    </div>
</div>
<script type=text/javascript src="{{url_for('static', filename='js/statistics.js') }}"></script>
{% endblock %}